:root {
    --title-color: #1c99ff;
}

.blog-page {
    width: 100%;
}

.Container1 {
    display: flex;
    overflow-x: hidden;
    background-color: aliceblue;
}

.main_content {
    margin-left: 20px;
}

.inner-container {
    text-align: center;
    margin: 50px;
    border-radius: 5px;
    background-color: rgb(218, 218, 218);
}

.title1 {
    text-align: left;
    width: 100%;
    padding-top: 20px;
    margin-left: 25px;
    font-family: 'Courier New', Courier, monospace;
    text-transform: capitalize;
}

.MainImage {
    width: 400px;
}

.category {
    border: 1px solid rgb(129, 129, 129);
    border-radius: 5px;
    width: 68px;
    height: 40px;
    padding-top: 7px;
    margin-left: 5px;
    margin-top: 5px;
}

.image {
    margin-top: 20px;
}

.MainImage {
    width: 700px;
}

.Description {
    margin-top: 10px;
}

.editor>p>img {
    width: 600px;
    height: 317px;
}

.imgcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.additionalImage {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.addi-img {
    width: 200px;
    height: 200px;
    margin: 0px 10px;
}

.editor>h1,
h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.keywords {
    margin-top: 20px;
    display: flex;
    justify-content: left;
}

.keywords-item {
    display: flex;
    justify-content: center;
    align-items: baseline;

}

.tags {
    display: inline-block;
    border-radius: 5px;
}

.tags p {
    display: inline-flex;
    margin-bottom: 18px;
    border-radius: 5px;
    background-color: rgb(223, 221, 221);
    padding: 10px;
    margin-right: 5px;
    color: black;
}

.Tag {
    display: inline-flex;
    margin-bottom: 18px;
    border-radius: 5px;
    background-color: rgb(223, 221, 221);
    padding: 10px;
    margin-right: 5px;
    color: black;
}

.comment-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #e7e9ec;
}

.comment-box>input {
    width: 400px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(197, 193, 193);
}

.comment-box>textarea {
    width: 400px;
}

.comment-box>button {
    background-color: rgb(97, 204, 247);
    margin-top: 20px;
    margin-bottom: 20px;
    width: 400px;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 8px;
}

.commentbox>h2 {
    font-size: 40px;
    font-weight: 400px;
}

.image>img {
    width: 400px;
}

.task {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #fff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
    margin-bottom: 1rem;
    border: 3px dashed transparent;
    max-width: 350px;
}

.tag {
    border-radius: 100px;
    padding: 4px 13px;
    font-size: 12px;
    color: #ffffff;
    background-color: #1389eb;
}

.tags {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.options {
    background: transparent;
    border: 0;
    color: #c4cad3;
    font-size: 17px;
}

.options svg {
    fill: #9fa4aa;
    width: 20px;
}