*{
    margin: 0;
    padding: 0;
    
}
:root {
    --title-color : rgb(255, 187, 0);
}

.title{
    background-color: var(--title-color);
    text-align: center;
    width: 100%;
    height: 100px;
    padding-top: 20px;
    font-family:'Courier New', Courier, monospace; 
}
.Container{
    display: flex;
}
.blog-page{
    width: 100%;
}
.inner-container{
    text-align: center;
}
.MainImage{
    width: 400px;
}