*{
    margin: 0;
    padding: 0;
}
*, ::after, ::before {
    box-sizing: border-box;
}

.global-layout .close{
    width: 0vw !important;
}

.leftnav{
    transition: all 0.1s ease;
    background-color: #33383E;
    width: 15vw;
    min-height: 100vh;
}
.leftnav>h4{
    color: white;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.Admin{
    display: flex;
    flex-direction: row;
}
.admin_online{
    margin-left: 10px;
}

.admin_online>p{
    color: white;
    margin-bottom: 0px;
    margin-left: 5px;
}

.profile_image{
    width: 50px;
    height: 50px;
    margin-left: 30px;
}
.List{
    margin-left: 5px;
    margin-top: 50px;
    color: white;
}
.accordion{
    --bs-accordion-border-color: none !important;
}
.accordion-body{
    display: flex;
    flex-direction: column;
    padding: 0 !important;
}
.accordion-body:hover{
    text-decoration: none !important;
}

.accordion-item:last-of-type .accordion-button.collapsed{
    border-radius: 0 !important;
}

.accordion-item:first-of-type .accordion-button{
    border-radius: 0 !important;
}
.accordion-button{
    width: 100%;
    background-color: #33383E;
    color: white;
    border: none;
}
.accordion-item {
    border: none;
    background-color: transparent !important;
}
.accordion-button::after{
    border: none;
}
.accordion-button:focus{
    box-shadow: none;
}
.accordion-button:not(.collapsed) {
    background-color: transparent !important;
    border: none;
    color: white;
}
.nav-link{
    color: white;
}
.nav_item{
    margin-left: 20px;
    text-decoration: none;
    color: white;
    padding-left: 10px;
    padding-bottom: 10px;
}
.nav_Support{
    margin-left: 10px;
    text-decoration: none;
    color: white;
    padding-left: 10px;
    padding-bottom: 10px;
}
.nav_Support:hover{
    text-decoration: none;
    color: white;
}
.nav_item:hover{
    text-decoration: none;
    color: white;
}
nav a.active{
    text-decoration: none;
    font-weight: bold;
    padding-top: 10px;
    background-color: blue !important ;
    height: 50px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}
