/* *{
    margin: 0;
    padding: 0;
}

.leftnav{
    background-color: rgb(31, 28, 28) ;
    width: 10%;
    display: flex;
    flex-direction: row;
    height: 100vh;
    
} */

  Dark theme
  [data-theme="dark"] {
    background-color: black !important;
    color: rgb(7, 7, 7) !important;
  }